@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
  box-sizing: border-box;


}

.item:focus , .submit a:focus{
  outline: none;
}

.item , submit a ,.star{
  user-select: none;
}

html{
  width: 100%;
  height: 100%;
  max-width: 3000px;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100%;
  max-width: 3000px;
  background-color: hsl(216, 12%, 8%); 
  color: white;
  font-size: 14px;
  font-family: 'Overpass';
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  
}
.container{
  width: 360px;
  height: 380px;
  background-color: hsl(215, 23%, 14%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  transition: transform .8s ease;

}

.rate{
  justify-content: flex-start;
}

.thank{
  z-index: 3;
  transform: translateX(-5000px);
}
.rate{
  z-index: 3;
}

.star{
  width:  100%;
  display: flex; 
  height: 50px;
  align-items: center;

}
.circle , .item{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: hsl(215, 18%, 19%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.content h1{
  line-height: 2.4;
  font-size: 24px;
}

.content p{
  font-size: 14px;
  color: hsl(217, 8%, 58%);
  line-height: 1.5;
  
}

.point{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.item{
  text-align: center;
  cursor: pointer;
  line-height: 42px;

  transition: all .2s ease;
}

.selected{
  background-color: rgb(124, 136, 152);
}

.submit{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

}

.submit a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(252, 118, 19);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  font-weight: 800;
  line-height: 40px;
  transition: all .2s ease;

}

.item:hover{
  background-color: rgb(252, 118, 19);
  color: white;
}

.submit a:hover{
  background-color: white;
  color: rgb(252, 118, 19);
}


/* thank component */
.thank{
  text-align: center;
}
.select{
  width: 180px;
  height: 24px;
  background-color: hsl(215, 18%, 19%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: relative;
  margin: 10px 0;
}

.select p{
  display: block;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  transform: translateY(2.5px);
  color: rgb(252, 118, 19);

  
}

  
.thank-content h2{
  font-size: 24px;
  font-weight: 900;
  line-height: 80px; 
  

}

.thank-content p{
  color: hsl(217, 8%, 58%); 
  font-size: 16px;
  line-height: 1.5;
}
