@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
  box-sizing: border-box;


}

.item:focus , .submit a:focus{
  outline: none;
}

.item , submit a ,.star{
  user-select: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: hsl(216, 12%, 8%); 
  color: white;
  font-size: 14px;
  font-family: 'Overpass';
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.container{
  width: 345px;
  height: 350px;
  background-color: hsl(215, 23%, 14%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 20px;
  position: absolute;

}

.phone{
  z-index: -1;
}
.rate{
  z-index: 2;
}

.star{
  width:  100%;
  display: flex; 

}
.circle , .item{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: hsl(215, 18%, 19%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.content h1{
  line-height: 2.4;
  font-size: 24px;
}

.content p{
  font-size: 14px;
  color: hsl(217, 8%, 58%);
  line-height: 1.5;
  
}

.point{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.item{
  text-align: center;
  cursor: pointer;
  line-height: 42px;

  transition: all .2s ease;
}

.submit{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.submit a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(252, 118, 19);
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  font-weight: 800;
  line-height: 40px;
  transition: all .2s ease;

}

.item:hover{
  background-color: rgb(252, 118, 19);
  color: white;
}

.submit a:hover{
  background-color: white;
  color: rgb(252, 118, 19);
}
